.content{
	padding: 40px 70px;
}
.panel-default {
    border-color: #255953 !important;
}
.panel-default>.panel-heading {
    background-color: #C9D5D3 !important;
    border-color: #265B54 !important;
}
.button-color{
    background-color: rgb(46, 113, 105) !important;
    border-color: rgb(46, 113, 105) !important;
}
.col{
	margin: 0px 5px;
}
.footer{
    position: fixed;
    background-color: rgba(0, 0, 0, 0.41);
    width: 100%;
    height: 50px;
    bottom:0;
    left:0;
    color: #fff;
}
div#corp{
    text-align: center;
    margin-top: 10px;
}
div#contact{
    text-align: center;
    margin-top: 10px;
}