body{       
    background-image: url('../img/businessman-bg2.jpg');        
    background-repeat: no-repeat;
    background-size: 120%;
    
}
div#content{
    width: 100%;
    height: 80%;
}
div#body{
    
    width: 500px;
    height: 200px;
    position: absolute;
    top: 50%;
    margin-top: -100px;
    margin-left: 50px;
    display: block;
    background-color: rgba(255, 255, 255, 0.41);
}
div#login{
    width: 80%;
    position: absolute;
    left: 5%;
    margin-left: 20px;
}
label{
    font-family: Arial, Georgia, Serif;
}
footer{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.41);
    width: 100%;
    height: 50px;
    bottom:0;
    left:0;
    color: #fff;
}
div#corp{
    text-align: center;
    margin-top: 10px;
}
div#contact{
    text-align: center;
    margin-top: 10px;
}
div.modal-header{
    background-color: rgb(46, 113, 105);
    color: #fff;
}
.button-color{
    background-color: rgb(46, 113, 105) !important;
    border-color: rgb(46, 113, 105) !important;
}
.obrig{
    color:red;
}